includes:
	- vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
	level: 8
	stubFiles:
		- tests/phpstan/wordpress-http.stub
	paths:
		- autoload.php
		- ran-booster-bitbucket.php
		- src
		- views
		- index.php
	bootstrapFiles:
		- tests/phpstan-bootstrap.php
	tmpDir: .phpstan
