includes:
	- vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
	level: 3
	paths:
		- autoload.php
		- ran-booster-bitbucket.php
		- src
	bootstrapFiles:
		- tests/phpstan-bootstrap.php
	tmpDir: .phpstan
